@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pattaya&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

.colletion-title{
     font-family: "Pattaya", sans-serif;
}

@layer components {
    .btn {
        @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-amber-500 bg-rose-900 border-2 border-amber-500 transition hover:opacity-90 active:scale-98;
    }
}

@theme {
    --color-app-text-light-color: var(--app-text-light-color);
    --color-app-text-medium-color: var(--app-text-medium-color);
    --color-app-icon-light-color: var(--app-icon-light-color);
}

:root {
  --app-text-light-color: #918e8e;
  --app-text-medium-color: #363636;
  --app-icon-light-color: #363636;
}